/AdminGroupCdrUff.class
/AdminGroupTipoUffCdr.class
/AssociazOperRichiAutor.class
/AuditRegistroRichiesteBean.class
/BatchInfoBean.class
/CaricamentoMassivoInserimentoBean.class
/CaricamentoMassivoRecord.class
/CauOrgName.class
/CauUserIdOrgName.class
/CdR.class
/CdrDAO.class
/CoerenzaPropertiesBean.class
/CoppiaCFBean.class
/DatiGenerazioneRichiestaBean.class
/Deleghe.class
/EventiSistemaBean.class
/EventoBean.class
/IncoerenzaVisibilita.class
/LDAPBatch.class
/MailUtility.class
/NotificaOperatoriDAO.class
/ProfiliAttiviDAO.class
/ProfiliAttiviUtente.class
/ProfiliCau.class
/ProfiliScaduti.class
/Profilo.class
/ProfiloCM.class
/ProfiloOrgBatchCoerenzaBean.class
/ProfiloRichiestaBean.class
/ProfiloRoleBatchCoerenzaBean.class
/ProfiloUtenteInVisibilitaBean.class
/ProfiloVisibilitaCoerenzaBean.class
/ProfiloVisibilitaTracciamentoBean.class
/Province.class
/RaggruppamentoRichiesteOperatoreBean.class
/Regioni.class
/RegistroRichieste.class
/RegistroRichiesteBatchBean.class
/RelazioneCdRUfficioStrut.class
/RelazioneCdrUfficioStrutOrganizz.class
/RelazioneTipoStrUffCdR.class
/ResponsabilitaBatch.class
/ResponsabilitaOA.class
/RichiedenteAutorizzatoreORABean.class
/RichiedenteCdR.class
/RichiestaAbilitazioneDisabilitazioneBean.class
/RichiestaBatchBean.class
/RichiestaBatchDaElaborareBean.class
/RichiestaUtenteInVisibilitaBean.class
/RichiestaVisibilitaBean.class
/RimozioneDelegheBean.class
/RoleGroupBean.class
/SegnalazioneIncoerenzeAssegnazioneBean.class
/SegnalazioneIncoerenzeBean.class
/SegnalazioneIncoerenzeVisibilitaBean.class
/StoricoCdRUtenti.class
/Struttura.class
/StrutturaIterDAO.class
/TabellaBatchHrBean.class
/TipoCdR.class
/TipoStruttura.class
/TipoUfficio.class
/UfficiPilota.class
/Ufficio.class
/UserDAO.class
/UtenteBatchCoerenzaBean.class
/UtenteInVisibilita.class
/UtenteInVisibilitaCM.class
/Utenti.class
/UtentiAggiornatiHRDAO.class
/UtilDataAccess.class
/VisibilitaCoerenza.class
/CdRVisibilitaBean.class
/ProfiloRichiestaVisibilitaBean.class
/RichiestaInserimentoRevocaVisibilitaBean.class
/CoerenzaSegnalazioniBean.class
/UtenteBatchCoerenzaNewBean.class
/VisibilitaDaAggiornareBean.class
