/ApplicazioniFinder.class
/AssegnazioneGestoriOperatoriFinder.class
/AuditFinder.class
/BatchAbilitazioniRichiestaFinder.class
/CDRUfficioPassatoFinder.class
/CF_RichiedenteFinder.class
/CatalogoAbilitazioniFinder.class
/DelegaFinder.class
/DocumentoFinder.class
/ExportMappaturaFinder.class
/GestoriFinder.class
/InterrProfiliOperatoreFinder.class
/InterrogazioneAdminGroupFinder.class
/InterrogazioneCaricamentiFinder.class
/InterrogazioneMappaturaProfiliUfficioFinder.class
/InterrogazioneProfilazioneFinder.class
/InterrogazioneRegioniProvinceFinder.class
/IterAbilitazioniFinder.class
/IterNonStandardProfiliApplicazioniFinder.class
/IterProfiliApplicazioniFinder.class
/OperatoreFinder.class
/OperatoriRichiedentiAutorizzatoriFinder.class
/ProfiliOperatVisibFinder.class
/ProfiliUfficiFinder.class
/ProfiloFinder.class
/ProfiloUtenteInVisibilitaFinder.class
/RegistroDelleMieAssociazioniPuntualiFinder.class
/RegistroRichiesteFinder.class
/ResponsabilitaFinder.class
/RichiedenteCDRFinder.class
/RichiestaFinder.class
/RoleGroupFinder.class
/TipologiaOperatoreEsternoFinder.class
/UtenteEntrateFinder.class
/UtenteFinder.class
/UtenteSogeiFinder.class
/ValoriFinder.class
/AttivitaAmministratoriFinder.class
/VisibilitaCdrFinder.class
