/AllegatoCaricamentoMassivoEntity.class
/AmbitoApplicativoEntity.class
/ApplicazioniEntity.class
/AssegnazioneGestoriOperatoriEntity.class
/BatchAbilitazioniOperatorePerCdREntity.class
/BatchAbilitazioniRichiestaEntity.class
/CaricamentoMassivoEntity.class
/ControlliRecCaricMassiviBean.class
/DelegaBean.class
/ExportProfiloBean.class
/ExportProfiloMappaturaBean.class
/FileAbilitazioneBean.class
/FileAbilitazioneEcaBean.class
/GestoreOperatoreBean.class
/GestoriOperatoriUpdateBean.class
/LogAccess.class
/MappaturaProfiloUfficioBean.class
/MappaturaUfficiBean.class
/MappaturaUpdateBean.class
/ProvinciaBean.class
/RegioneBean.class
/RichiesteBean.class
/TipoAbilitazioneBean.class
/TipoCdrBean.class
/TipoUfficioBean.class
/TipologiaOperatoriEsterni.class
/UtentiEntrateBean.class
/AggiornamentoPuntualeVisibilitaEntity.class
